<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDuECE5quXhV-jDfSWoVWHHcuxe8oWwPj4</string>
	<key>GCM_SENDER_ID</key>
	<string>536314490443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.filmlerApp</string>
	<key>PROJECT_ID</key>
	<string>general-ebe14</string>
	<key>STORAGE_BUCKET</key>
	<string>general-ebe14.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536314490443:ios:732e38b4c3ccd22153a7ce</string>
	<key>DATABASE_URL</key>
	<string>https://general-ebe14-default-rtdb.firebaseio.com</string>
</dict>
</plist>